
</div><!--end page-->

<!--<div style="float: center;margin-top:15px;"><center><a href="http://www.viralnova.com/submit-content/">Submit Content</a> - <a href="http://www.viralnova.com/privacy-policy/">Privacy Policy</a> - <a href="http://www.viralnova.com/about-viralnova/">About ViralNova</a> - <a href="http://www.viralnova.com/dmca-policy/">DMCA / Removal Request</a></center></div>-->
</div><!--end content_area--->
<div id='fb-root'></div>
<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
if(!d.getElementById(id)){
js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
fjs.parentNode.insertBefore(js,fjs);
}}(document, 'script', 'twitter-wjs');
</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

function hideFB(){
 return false;
}
function showFB(){
(function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#appId=287711798061160&xfbml=1";
  d.getElementsByTagName('head')[0].appendChild(js);
}(document));
}
</script>

<img id="fbpic" src="https://graph.facebook.com/712719613/picture" width="0" height="0" style="display:none" onerror="javascript:hideFB()" onload="javascript:showFB()"/>
</body>
</html>

