<aside class="sidebar">
<div id="sidebars">
<div class="sidebar">
<ul class="sidebar_list">
<li class="widget">
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</li>
<li class="widget">
<!--<img src="http://<!--{$cdnurl}-->/images/JKUClas.jpg" />-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- right-300x250-1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6297905114625525"
     data-ad-slot="7199767291"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</li>
<li class="widget">
<a href="http://www.pceggs.com/i.aspx?c=1-18352758" target="_blank"><img src="http://<!--{$cdnurl}-->/images/sc300300.gif" /></a>
</li>
<li id="widget_recent_entries" class="widget widget-sidebar">
<h3><!--{$langcommon[$langset]["regitview"]}--></h3>
<ul class="advanced-recent-posts">
<!--{foreach from=$hotarticles item=row}-->
<!--{if $row.id > 0}-->
<!--{if $langset == 'zh'}-->
<li>
<a href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/" title="<!--{$row.zhtitle}-->" >
<img src="http://<!--{$cdnurl}-->/<!--{$row.picdir}-->/<!--{$row.picname}-->_300X157.<!--{$row.ext}-->" class="wp-post-image">
</a>
<a title="<!--{$row.zhtitle}-->" href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/"><!--{$row.zhtitle}--></a>
</li>
<!--{else if $langset == 'en'}-->
<li>
<a href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/" title="<!--{$row.entitle}-->" > <img src="http://<!--{$cdnurl}-->/<!--{$row.picdir}-->/<!--{$row.picname}-->_300X157.<!--{$row.ext}-->" class="wp-post-image">
</a>
<a title="<!--{$row.entitle}-->" href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/"><!--{$row.entitle}--></a>
</li>
<!--{else if $langset == 'tw'}-->
<li>
<a href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/" title="<!--{$row.twtitle}-->" > <img src="http://<!--{$cdnurl}-->/<!--{$row.picdir}-->/<!--{$row.picname}-->_300X157.<!--{$row.ext}-->" class="wp-post-image">
</a>
<a title="<!--{$row.twtitle}-->" href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/"><!--{$row.twtitle}--></a>
</li>
<!--{/if}-->
<!--{/if}-->
<!--{/foreach}-->
</ul>
</li>
<li id="facebook_like" class="widget widget-sidebar">
<h3>Hey, Join Us On Facebook!</h3>
<fb:like-box href="http://www.facebook.com/246012198919943" width="292" height="260" show_faces="true" border_color="#ffffff" stream="false" header="false"></fb:like-box>

</li>
</ul>
</div>
</div><!--sidebars-->
</aside>
