<aside class="sidebar">
<div id="sidebars">
<div class="sidebar">
<ul class="sidebar_list">
<li class="widget">
<img src="http://<!--{$cdnurl}-->/images/JKUClas.jpg" />
</li>
<li class="widget">
<img src="http://<!--{$cdnurl}-->/images/8nWgzQ3.jpg" />
</li>
<li id="widget_recent_entries" class="widget widget-sidebar">
<h3><!--{$langcommon[$langset]["regitview"]}--></h3>
<ul class="advanced-recent-posts">
<!--{foreach from=$hotarticles item=row}-->
<!--{if $row.id > 0}-->
<!--{if $langset == 'zh'}-->
<li>
<a href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/" title="<!--{$row.zhtitle}-->" >
<img src="http://<!--{$cdnurl}-->/<!--{$row.picdir}-->/<!--{$row.picname}-->_300X157.<!--{$row.ext}-->" class="wp-post-image">
</a>
<a title="<!--{$row.zhtitle}-->" href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/"><!--{$row.zhtitle}--></a>
</li>
<!--{else if $langset == 'en'}-->
<li>
<a href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/" title="<!--{$row.entitle}-->" > <img src="http://<!--{$cdnurl}-->/<!--{$row.picdir}-->/<!--{$row.picname}-->_300X157.<!--{$row.ext}-->" class="wp-post-image">
</a>
<a title="<!--{$row.entitle}-->" href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/"><!--{$row.entitle}--></a>
</li>
<!--{else if $langset == 'tw'}-->
<li>
<a href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/" title="<!--{$row.twtitle}-->" > <img src="http://<!--{$cdnurl}-->/<!--{$row.picdir}-->/<!--{$row.picname}-->_300X157.<!--{$row.ext}-->" class="wp-post-image">
</a>
<a title="<!--{$row.twtitle}-->" href="/articles/<!--{$row.id}-->-<!--{$row.link}-->-<!--{$langset}-->/"><!--{$row.twtitle}--></a>
</li>
<!--{/if}-->
<!--{/if}-->
<!--{/foreach}-->
</ul>
</li>
<li id="facebook_like" class="widget widget-sidebar">
<h3>Hey, Join Us On Facebook!</h3>
<fb:like-box href="http://www.facebook.com/246012198919943" width="292" height="260" show_faces="true" border_color="#ffffff" stream="false" header="false"></fb:like-box>

</li>
</ul>
</div>
</div><!--sidebars-->
</aside>
