<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理界面</title>
<link href="/css/admin/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="page">
<h2><!--{if $cid > 0}-->编辑分类<!--{else}-->添加分类<!--{/if}--></h2>
<form action="/admin/categoryoperate" method="post" id="categoryForm">
<input type="hidden" name="cid" value="<!--{$cid}-->">
<input type="hidden" name="current" value="<!--{$current}-->">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>英文名：</th>
    <td><input type="text" name="enname" id="enname" value="<!--{$categoryone.enname}-->" /></td>
  </tr>
  <tr>
    <th>简体名：</th>
    <td><input type="text" name="zhname" id="zhname" value="<!--{$categoryone.zhname}-->" /></td>
  </tr>
  <tr>
    <th>繁体名：</th>
    <td><input type="text" name="twname" id="twname" value="<!--{$categoryone.twname}-->"/></td>
  </tr>
  <tr>
    <th>父类：</th>
    <td>
     <select name="selparend">
     <option value="0">请选择</option>
      <!--{foreach from=$lists item=row}-->
     <option value ="<!--{$row.id}-->" <!--{if $categoryone.fid == $row.id}-->selected="selected"<!--{/if}-->><!--{$row.zhname}--></option>
     <!--{/foreach}-->
     </select>
    </td>
  </tr>
  <tr>
    <th>排序号：</th>
    <td><input type="text" name="short" id="short" value="<!--{$categoryone.short}-->" /></td>
  </tr>
  <tr>
    <th>状态：</th>
    <td><input type="radio" name="status" value="1" <!--{if $categoryone.status == 1}-->checked="true"<!--{/if}--> />开启
    <input type="radio" name="status" value="0" <!--{if $categoryone.status == 0}-->checked="true"<!--{/if}--> />关闭</td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <td><input name="bthsub" type="submit" class="bt" value="提交" /></td>
  </tr>
</table>
</form>
</body>
</html>
