<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理界面</title>
<link href="/css/admin/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="page">
<h2>分类信息&nbsp;&nbsp;<a href="/admin/categoryoperate">[添加]</a></h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>ID号</td>
    <td>英文名</td>
    <td>简体名</td>
    <td>繁体名</td>
    <td>总数</td>
    <td>状态</td>
    <td>排序</td>
    <td>创建时间</td>
    <td>操作</td>
  </tr>
  <!--{foreach from=$lists item=row}-->
  <!--{if $row.id > 0}-->
  <tr>
    <td><!--{$row.id}--></td>
    <td><!--{$row.enname}--></td>
    <td><!--{$row.zhname}--></td>
    <td><!--{$row.twname}--></td>
    <td><!--{$row.total}--></td>
    <td><!--{$row.status}--></td>
    <td><!--{$row.short}--></td>
    <td><!--{$row.ctime|date_format:"%Y-%m-%d"}--></td>
    <td><a href="/admin/categorylist/cid/<!--{$row.id}-->">子分类</a>|
        <a href="/admin/categoryoperate/cid/<!--{$row.id}-->/current/<!--{$cid}-->">编辑</a>|
        <a href="/admin/categoryoperate/cid/<!--{$row.id}-->/current/<!--{$cid}-->/d/1">删除</a></td>
  </tr>
  <!--{/if}-->
  <!--{/foreach}-->
</table>
</body>
</html>
