<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理界面</title>
<link href="/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/admin/js.js"></script>
</head>

<body id="index">
<h1>UF101管理系统</h1>
<ul id="globalNav">
	<li><a href="/admin/categorylist" target="frameBord">分类管理</a></li>
	<li><a href="/admin/articlelist" target="frameBord">文章管理</a>
		<ul>
			<li><a href="/admin/articlelist" target="frameBord">文章列表</a></li>
			<li><a href="#">1-2</a></li>
		</ul>
	</li>
	<li><a href="/admin/logout">退出</a></li>
</ul>
<iframe id="frameBord" name="frameBord" frameborder="0" width="100%" height="100%" src="/admin/categorylist"></iframe>
</body>
</html>
