<!--{include file="common/header.html"}-->

<div id="content_box">
<div id="content" class="single">
		<article class="article">
		<div id="post-<!--{$articleone.id}-->" class="post type-post status-publish format-standard hentry category-stories post_box cat-<!--{$articleone.cateid}-->-id has_thumb">
			<!--				<div class="breadcrumb"><a href="http://www.viralnova.com" rel="nofollow">Home</a>&nbsp;&nbsp;&#187;&nbsp;&nbsp;<a href="http://www.viralnova.com/category/stories/" title="View all posts in Stories" rel="nofollow">Stories</a> &nbsp;&nbsp;&#187;&nbsp;&nbsp; This Rescued Dog Looked Normal From The Outside. But His X-Rays Revealed A Shocking Past.</div>
			-->
			<header>
				<div class="headline_area">
					<h2 class="entry-title"><!--{$articleone.vtitle}--></h2>
										<div class="headline_meta">
						<p class="themeta">
							<span class="thetime">March <!--{$articleone.viewnum|number_format:0:".":","}--></span>
							<span class="thecategories"><a href="/category/<!--{$articleone.encatename}-->/" title="View all posts in <!--{$articleone.encatename}-->" rel="nofollow"><!--{$articleone.vcatename}--></a></span>
						    <div>
                                                     <g:plus action="share" annotation="bubble" size="tall"></g:plus>
                                                     <div class="fb-like fbook-like" data-href="http://<!--{$webhost}-->/articles/<!--{$articleone.id}-->-<!--{$articleone.link}-->-<!--{$langset}-->/"  data-send="false" data-layout="button_count" data-width="75" data-show-faces="false"></div>
                                                     <a href="https://twitter.com/share" class="twitter-share-button"></a>
                                                     <div><wb:like appkey="3XCBiP" type="number"></wb:like></div>
                                                     </div>
                                                 </p>
					</div>
									</div><!--.headline_area-->

			</header>
			
			<div class="format_text entry-content">
				
                        <!--{$articleone.des}-->
		        </div><!--.format_text entry-content-->
			 
<!-- relatedwas -->

		</div><!-- #post-## -->

	</article>
	<!-- fbcommentswerehere -->
		
</div>
<!--#content-->
<!--{include file="common/sidebar.html"}-->
<!--start footer code-->
<!--end footer code-->
</div>
<!--{include file="common/footer.html"}-->
